name: S3-Backed Git Helm Chart Repository

on:
  workflow_call:
    secrets:
      AWS_REGION:
        required: true
      S3_BUCKET:
        required: true
      AWS_ASSUME_ROLE:
        required: true

jobs:
  update_chart:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ASSUME_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install helm
        run: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Package changes, index, and upload artifact to s3
        run: |
          for file in $(git diff --name-only ${{ github.event.before }}..${{ github.event.after }} | grep Chart.yaml); do
            DIRECTORY=$(echo $file | awk -F/ 'BEGIN {OFS="/"} {$NF=""; print $0}')
            APP=$(echo $DIRECTORY | awk -F/ '{print $--NF}')

            helm package $DIRECTORY
            helm repo index . --url https://s3.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.S3_BUCKET }}/${APP} --merge index.yaml

            aws s3 cp ${APP}*.tgz s3://${{ secrets.S3_BUCKET }}/${APP}/ --acl public-read
          done

      - name: Commit updated index
        run: |
          git config --global user.email "github@actions.com"
          git config --global user.name "github-action"
          git add index.yaml
          git commit -m 'updated index.yml with new packages'
          git push
