name: S3-Backed Git Helm Chart Repository

on:
  workflow_call:
    inputs:
      AWS_REGION:
        type: string
        required: true
        default: us-east-2
      AWS_ASSUME_ROLE:
        type: string
        required: true
        default: arn:aws:iam::790387652718:role/helm-bucket
      S3_BUCKET:
        type: string
        required: true
        default: gg1231

jobs:
  update_chart:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ inputs.AWS_ASSUME_ROLE }}
          aws-region: ${{ inputs.AWS_REGION }}

      - name: Install helm
        run: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Package changes, index, and upload artifact to s3
        run: |
          for file in $(git diff --name-only ${{ github.event.before }}..${{ github.event.after }} | grep Chart.yaml); do
            DIRECTORY=$(echo $file | awk -F/ 'BEGIN {OFS="/"} {$NF=""; print $0}')
            APP=$(echo $DIRECTORY | awk -F/ '{print $NF}')

            helm package $DIRECTORY
            helm repo index . --url https://${{ inputs.S3_BUCKET }}.s3.${{ inputs.AWS_REGION }}.amazonaws.com/${APP} --merge index.yml

            aws s3 cp ${APP}*.tgz s3://${{ inputs.S3_BUCKET }}/${APP}/ --acl public-read

            rm ${APP}*.tgz
          done

      - name: Commit updated index
        run: |
          git config --global user.email "github@actions.com"
          git config --global user.name "github-action"
          git add index.yaml
          git commit -m 'updated index.yml with new packages'
          git push
