name: Maven Continuous Delivery

on:
  workflow_call:
    inputs:
      java_version:
        type: string
        required: true
        description: java version to use
      project_name:
        type: string
        required: true
        description: name artifact
    secrets:
      github_repo_token:
        required: true
        description: default github action token
      aws_assume_role:
        required: true
        description: aws role to assume
    outputs:
      release_tag:
        value: ${{ jobs.continuous_delivery.outputs.release_tag }}
        description: tag of created release

jobs:
  continuous_delivery:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK ${{ inputs.java_version }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ inputs.java_version }}
          distribution: "temurin"
          cache: maven

      - run: mvn package

      - name: Bump version and push tag
        id: bump_tag
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.github_repo_token }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.aws_assume_role }}
          aws-region: us-east-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ inputs.project_name }}
          IMAGE_TAG: ${{ steps.bump_tag.outputs.tag }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

    outputs:
      release_tag: ${{ steps.bump_tag.outputs.new_tag }}