name: Node.js Pull Request Check

on:
  workflow_call:
    inputs:
      nodejs_version:
        type: string
        required: true
        description: nodejs version to use

jobs:
  pull_request_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ inputs.nodejs_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ inputs.nodejs_version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
